@using BookStore.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Sign up for a new account";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sign up for a new account</h4>
                </div>
                <div class="card-body">

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <b>Sorry!</b> - @TempData["Error"]
                        </div>
                    }

                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label for="FullName" class="form-label">Full Name</label>
                            <input asp-for="FullName" class="form-control" id="FullName" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="EmailAddress" class="form-label">Email Address</label>
                            <input asp-for="EmailAddress" class="form-control" id="EmailAddress" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-success" type="submit">Sign up</button>
                            <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
