<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title text-center text-success fw-bold mb-4">Order Completed!</h2>
                    <p class="card-text lead">Your order has been successfully processed.</p>
                    <hr>
                    <p class="card-text">Feel free to view all your orders in your profile's Orders section.</p>
                    <p class="card-text">Thank you for choosing us!</p>
                </div>
            </div>
        </div>
    </div>
</div>
